@import "tailwindcss";

@font-face {
  font-family: "D2Coding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "D2Coding", monospace;
}

.CodeMirror {
  border: 1px solid #ccc;
  height: auto;
  min-height: 400px;
  font-family: "D2Coding" !important;
  font-size: 14px;
}
